<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<mvc:annotation-driven>
		<!-- <mvc:message-converters register-defaults="true"> <bean class="org.springframework.http.converter.StringHttpMessageConverter"> 
			<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" /> 
			</bean> </mvc:message-converters> -->
	</mvc:annotation-driven>
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<!-- <mvc:interceptors> <mvc:interceptor> <mvc:mapping path="/**" /> <ref 
		bean="loggerInterceptor" /> </mvc:interceptor> </mvc:interceptors> -->
	<!-- 视图解释类org.springframework.web.servlet.view.InternalResourceViewResolver -->
	<!-- <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" 
		/> <property name="prefix" value="/WEB-INF/jsp/" /> <property name="suffix" 
		value=".jsp" />可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 </bean> -->

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<!-- 设置为true以忽略对Accept Header的支持 -->
		<property name="ignoreAcceptHeader" value="false" />
		<!-- 在没有扩展名时即: "/user/1" 时的默认展现形式 -->
		<property name="defaultContentType" value="text/html" />

		<!-- 扩展名至mimeType的映射,即 /user.json => application/json -->
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="iv" value="application/json" />
			</map>
		</property>
		<!-- 用于开启 /userinfo/123?format=json 的支持，false为关闭之,我更喜欢.json的方式，因为可以少敲几次键盘 -->
		<property name="favorParameter" value="false" />
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/jsp/"></property>
					<property name="suffix" value=".jsp"></property>
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<!-- for application/json -->
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
	</bean>

	<bean id="authorityInterceptor" class="com.lanhun.framework.utils.AuthorityInterceptor" />
	<mvc:interceptors>

		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="authorityInterceptor" />
		</mvc:interceptor>

	</mvc:interceptors>
</beans>