@CHARSET "UTF-8";
body {
	text-align: center;
	width: 100%;
	/* background-color: #d9eafa; */
}

.pageList {
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
	border: solid 2px;
	border-color: white;
}


.actionPanel *, .listOperation * {
	margin: 3px 5px 3px 5px;
	display: inline-block;
}

.pageList  th {
	background-color: #006fe2;
	color: white;
}

.pageList td, th {
	/* margin:2px; */
	border: solid 1px;
	height: 40px;
	border-color: white;
}
/* .pageList td:HOVER{
	cursor: pointer;
} */
.obb {
	
}

.even {
	/* background-color: #d9eafa; */
	background-color: #e6e6e6;
}

.selected {
	background-color: #005fe2;
}

.footer {
	background-color: #006fe2;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

input[type="text"], select {
	height: 30px;
	/* width: 150px; */
}

button, input[type="button"], input[type="submit"], input[type="reset"]
	{
	height: 40px;
	cursor: pointer;
	font-size: 25px;
	background-color: #006fe2;
	color: white;
	border: 0;
	/* padding:5px; */
	border-radius: 10% !important;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	/* FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##15A216,endColorStr=#fafafa); IE
	background:-moz-linear-gradient(top,#15A216,#fafafa);火狐
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#15A216), to(#fafafa));谷歌
	background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #15A216),color-stop(1, #fafafa));Safari & Chrome 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa'); IE6 & IE7
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa')"; IE8 */
}

button:HOVER, input[type="button"]:HOVER, input[type="submit"]:HOVER,
	input[type="reset"]:HOVER {
	background-color: gray;
}

.formQuery {
	width: 99%;
}

.queryPanel {
	width: 100%;
}

.queryPanel dd {
	width: 175px !important;
}

.queryPanel, .queryPanel dl, .queryPanel dd {
	margin: auto;
	position: relative;
	top: 0px;
	
	background-color: white;
	/* width: 100%; */
	z-index: 0;
	color: black;
	opacity: 1;
	float: none;
	display: inline-block;
}

.ddbreak {
	/* 	display: block;
	margin: 0; */
	clear: both;
}

.queryPanel dd {
	width: auto;
	margin-left: 5px;
}

.view {
	border-collapse: collapse;
	border: 1px solid;
	width: 1024px;
}

.view th, .view td {
	width: 200px;
	border: 1px solid;
}

.content {
	margin: auto;
	margin-top:10px;
	width: 98%;
/* 	background-color: #8080c0; */
}
.container{
	width: 100%;
}

.mtpagination a{
	border: solid 1px;
	padding: 5px;
}
